@font-face{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Bold.otf');
}
@font-face{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat/Montserrat-Light.otf');
}
body {
    font-family: 'Roboto-Regular';
}
.container .l-nav a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.container .l-nav-up a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.cont-nav-hp {
    padding: 0 5vw 0 5vw;
}
.cont-nav-hp a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.cont-nav-hp .lnav-hp a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(99, 98, 98);
    border-bottom: 1px solid rgb(224, 224, 224);
}
.fa-check-circle{
    color: rgb(20, 185, 20);
}
.price .card {
    border: 0.5px solid rgb(243, 243, 243);
}
.price .card-header {
    font-family: Montserrat-Bold;
    border: 0.5px solid rgb(243, 243, 243);
    background-color: white;
}
.price span {
    font-family: Montserrat-Bold;
}
.fa-star {
    color: rgb(50, 177, 216);
}
.bold {
    font-family: Montserrat-Bold;
}
.tech .card {
    border: none;
}
.best .card {
    border: 1px solid #008FEE;
}
.best .card .card-header {
    border: none;
    background-color: #008FEE;
}
.fa-facebook-square {
    color: #3A5998;
}
.fa-twitter-square {
    color: #55ACEE;
}
.fa-google-plus-square {
    color: #DD5144;
}
.bg-primary {
    background-color: #0fa0cc !important;
}
.btn-primary {
    background-color: #0fa0cc;
    border-radius: 40px;
    border-color: white;
}
.btn-primary:hover {
    background-color: #0fa0cc;
    border-radius: 40px;
    border-color: white;
}
.btn-outline-secondary {
    color: rgb(71, 71, 71) !important;
    font-weight: 600;
    border: 2px solid rgb(71, 71, 71) !important;
    border-radius: 40px;
}
.bg-dark {
    background-color: #333333 !important;
}
.color-menu-footer {
    color: #C4C4C4;
    margin-bottom: 30px;
}
.footer {
    font-size: 14px;
    line-height: 20px;
}
.input-email {
    border-radius: 40px;
}
.copyright {
    font-size: 12px;
}
.best-seller {
    position: absolute;
    top: -10px;
    left: -10px;
}